@import './mixins';
@import './utils';
@import './mobile';
@import '~styles/typo.css';
@import '../font-awesome/scss/font-awesome';
@import './override';
@import './scrollbar';
@import './mixins';
@import './variables';
// @import '~styles/normalize.css';

// @include res-to(xs) {
//   html {
//     font-size: 62.5%;
//   }
// }

html {
  scroll-behavior: smooth;
}

// reset fail load styles
img {
  position: relative;
  &:after {
    position: absolute;
    content: " ";
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666;
  }
}

[v-cloak] {
   display: none
}
iframe {
  #player {
    display: none;
  }
}


// limit page max-width
#home {
  max-width: 1366px;
}
#topic, #topics, #tag, #tags, #article, #article-detail, #about {
  max-width: 920px;
  margin: auto;
}
#topic, #article, #article-detail {
  max-width: 700px;
}
