$xs: 768px;
$md: 968px;
$lg: 1200px;


@mixin res-to($media, $media2: true) {
  @if $media == xs {
    @media only screen and (max-width: $xs) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $xs) and (max-width: $md) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $md) and (max-width: $lg) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $lg) { @content; }
  }
  @else if type-of($media) == number and type-of($media2) == number {
    @media only screen and (min-width: $media + px) and (max-width: $media2 + px) { @content; }
  }
}


// line-camp

@mixin line-clamp($line: 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  -webkit-line-clamp: $line;
}

@mixin reset-list {
  list-style: none;
  li {
    padding-left: 0;
  }
}

// pesudo element background

@mixin blur-mask($color: rgba(0,0,0,.4)) {
  background: $color;
  position: absolute;
  // margin: -30px;
  overflow: hidden;
  height: 105%;
  width: 105%;
  top: -5%;
  left: -5%;
  z-index: -1;
  filter: blur(5px) contrast(.8) brightness(.8);
}
