// override style


// top nav
// #app {
//   .el-menu--horizontal {
//     background: #43e97b;
//   }
// }

.el-textarea__inner {
  border-radius: 5px!important;
}

html {
  background: rgba(238,238,238, .3);
}

#app {
  .article-list {
    li {
      background: #fff;
    }
  }
  .article-card {
    background: #fff;
  }
  .appbar-search-field{
  width: 200px;
  color: #FFF;
  margin-bottom: 0;
  &:focus-state {
    color: #FFF;
  }
  .mu-text-field-hint {
    color: rgba(255, 255, 255, .6);
  }
  .mu-text-field-input {
    color: #FFF;
  }
  .mu-text-field-focus-line {
    background-color: #FFF;
  }
}
  .mu-appbar {
    position: fixed;
    top: 0;
    background: #1abc9c;
  }
}
