.dp-ib {
  display: inline-block;
}

.mt-s {
  margin-top: 10px;
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin center($top: 0) {
  display: block;
  margin: $top auto;
}
